div {

  background-size: contain;
  height:100%;

}
.carousel-inner {
  background-color: darkblue;

}

.item img {
  height: 500px;
  width: 100%
}


#flexbox-container {

}

/*#item active{*/

/*}*/
