<div class="container-fluid">
  <div class="row city-component-card">
    <div class="col-sm-4">
      <h1>{{city.name}}</h1>
      <app-weather city="{{city.name}}"></app-weather>
    </div>
    <div class="col-sm-8">
      <img src="{{city.imgUrl}}" alt="">
    </div>
  </div>
  <div class="row">
    <h1>Posts</h1>
    <!--    <div *ngFor="let c of cities">-->
    <div *ngFor="let post of city.posts; index as i" class="row posts-component-card">
      <div class="col-sm-3">
        <img src="{{city.imgUrl}}" alt="">
      </div>
      <div class="col-sm-4 post-info" >
<!--        <h1><a routerLink="/cities/{{post.id}}">{{post.name}}{{post.title}}</a></h1>-->
        <h1><a routerLink="/cities/{{city.id}}/posts/{{i}}">{{post.title}}</a></h1>
        <p>{{post.description}}</p>
      </div>
      <!--      </div>-->
    </div>
  </div>
</div>
