.city-component-card {
  margin: 10px 0px 30px 0px;
  background-color: #9BC1BC;
  border-radius: 20px;
  height: 410px;
  border: 2px solid black;
}
.city-component-card img {
  display: block;
  width: 300px;
  margin: 10px 0px 10px 55px;
  border: 1px solid #4a5d5a;
}

.posts-component-card {
  border-radius: 20px;
  background-color: #9BC1BC;
  height: 200px;
  /*width: 800px;*/
  display: flex;
  align-items: center;
  border: 2px solid #4a5d5a;
}

.posts-component-card img {
  display: block;
  width: 150px;
  height: 100px;
  margin: 10px 0 10px 20px;
  border: 1px solid #5d576b;
}

.post-img {
  background-color: #0c4e88;
  height: 150px;
  width: 150px;
  margin-left: 15px;
}

.post-info {
  height: 150px;
  width: 600px;
  text-align: left;
}

a, h1, p {
  color: #5d576b;

}

#indPostTitle {
  text-decoration: none;
}
#indPostTitle:hover {
  color: #aca8a8;
}

#postTitle {
  color: #878887;
}

#postrow{
  margin: 10px;
}
