

<app-navbar></app-navbar>

<app-carousel></app-carousel>



<div id="landing-bottom-half">

  <div id="header">
    WAYFARER IS...
  </div>

  <div id="flexbox-container">

    <div id="topic-1" class="topic">
      <h1>Connect </h1>
      Connect with other Wayfarer's around the world. Search and share tips.
    </div>

    <div id="topic-2" class="topic">
      <h1>Explore</h1>
      Read and ask travel related questions. Browse posts and photos.
    </div>

    <div id="topic-3" class="topic">
      <h1>Experience</h1>
      View events in your city or destination.
    </div>

  </div>


</div>

