
#landing-bottom-half{
  background-color: aqua;
  height: 400px;
}

#header{
  background-color: blue;
  height: 20%;
  text-align: center;
}

#flexbox-container {
  display:flex;
  justify-content: space-evenly;
  background-color: dimgrey;
  height: 100%;
  padding-top: 5%;
  padding-bottom: 5%;

}


.topic{
  background-color: blueviolet;

  height: 100%;
  width: 30%;


}

#topic-1{


}

#topic-2{

}

#topic-3{

}
