

<app-navbar></app-navbar>

<app-carousel></app-carousel>



<div id="landing-bottom-half">

  <div id="header">
    Wayfarer is...
  </div>

  <div id="flexbox-container">

    <div id="topic-1" class="topic">
      <h1>Topic 1</h1>
      rem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales nisi at justo semper porta. Donec ut feugiat nunc, eu sodales metus. In malesuada, risus id venenatis facilisis, diam orci porttitor turpis, non sodales urna odio non est. Aenean quis felis non dolor iaculis tincidunt. Curabitur ullamcorper lectus id viverra euismod. Curabitur in erat non arcu volutpat accumsan. Cras luctus faucibus leo. Pellentesque accumsan eros risus, in scelerisque enim fermentum vitae. Sed mollis vestibulum diam, sit amet sodales ante mattis eget. Vivamus mattis bibendum ornare. Fusce blan
    </div>

    <div id="topic-2" class="topic">
      <h1>Topic 2</h1>
      rem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales nisi at justo semper porta. Donec ut feugiat nunc, eu sodales metus. In malesuada, risus id venenatis facilisis, diam orci porttitor turpis, non sodales urna odio non est. Aenean quis felis non dolor iaculis tincidunt. Curabitur ullamcorper lectus id viverra euismod. Curabitur in erat non arcu volutpat accumsan. Cras luctus faucibus leo. Pellentesque accumsan eros risus, in scelerisque enim fermentum vitae. Sed mollis vestibulum diam, sit amet sodales ante mattis eget. Vivamus mattis bibendum ornare. Fusce blan
    </div>

    <div id="topic-3" class="topic">
      <h1>Topic 3</h1>
      rem ipsum dolor sit amet, consectetur adipiscing elit. Donec sodales nisi at justo semper porta. Donec ut feugiat nunc, eu sodales metus. In malesuada, risus id venenatis facilisis, diam orci porttitor turpis, non sodales urna odio non est. Aenean quis felis non dolor iaculis tincidunt. Curabitur ullamcorper lectus id viverra euismod. Curabitur in erat non arcu volutpat accumsan. Cras luctus faucibus leo. Pellentesque accumsan eros risus, in scelerisque enim fermentum vitae. Sed mollis vestibulum diam, sit amet sodales ante mattis eget. Vivamus mattis bibendum ornare. Fusce blan
    </div>

  </div>


</div>

