<div class="container-fluid" id="panel">
    <div class="row">
      <div  class="col-sm-4" id="left">

        <div id="cool" data-spy="scroll" data-target=".navbar" data-offset="10">

          <div *ngFor="let city of cities" id="section1" class="city-block">
            <div class="col-sm-4">
              <img src="{{city.imgUrl}}"
                   alt="">
            </div>
            <div class="col-sm-8">
              <h1><a routerLink="/cities/{{city.id}}">{{city.name}}</a></h1>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-8" id="right">
        <router-outlet></router-outlet>
      </div>
    </div>
</div>

