#left {
  height: 600px;
  position: relative;
  overflow-x: hidden;
  border-bottom: black solid 2px;
}
.city-block img {
  display: block;
  width: 150px;
  height: 100px;
  margin: 10px 0 10px 20px;
  border: 2px solid black;
}

h1{
  margin: 10px 0 10px 20px;
}

a{
  color: antiquewhite;
  text-decoration: none;
}

a:hover {
  color: #aca8a8;
}


#right {
  background-color: lightgray;
  height: 600px;
  border-bottom: black solid 2px;
}

#panel {
  background-color: #0c4e88;
  width:99%;

}



#section1 {
  padding-top:10px;
  height:200px;
  background-color: #5b5847;
  margin:10px;
  border-radius: 20px;
  border: 2px solid black;

}
/*#section2 {padding-top:10px;height:500px;color: #fff; background-color: #673ab7;}*/



