<h1>Cities! Jake from state farm</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4 cities-component-aside">
      <h1>Cities</h1>

      <div *ngFor="let city of cities" class="row cities-component-card">
        <div class="col-sm-4">
          <img src="assets/images/wayfarer.jpg"
               alt="">
        </div>
        <div class="col-sm-8">
          <h1>{{city.name}}</h1>
        </div>
      </div>
    </div>

<!--    <div class="col-sm-8 cities-component-main">-->
<!--      One of three columns-->
<!--    </div>-->
  </div>
</div>

<app-city></app-city>
